h1 {
    
    text-align: center;
    color: blue;
    
    }
}
h2 {
    color: red;
  
}
p {
    font-family: Arial;
    background-color: yellow;
    
}
ul {
    line-height: 30px;
}
ol {
    line-height: 30px;
}
.strong {
    font-style: italic;
}
.em {
    font-style: bold;
}
