h1 {
    
    text-align: center;
    <span style="strong:italic"></span>
}
h2 {
    color: red;
    
    text-align: center;
    : bold;
}
p {
    font-family: Arial;
    background-color: yellow;
    
}
ul {
    line-height: 30px;
}
ol {
    line-height: 30px;
}

